.l-body {
  position: relative;
  font-size: inherit;
  width: 80%;
  max-width: 1140px;
  min-width: 1070px;
  margin: 0 auto;
  background-color: $color-black;

  padding-bottom: 9em;
  /* Height of the footer */
}


// puzzle section in general
.l-puzzle {
  position: relative;
  display: none;
  justify-content: center;
  width: 100%;

  .l-puzzle__display {
    position: relative;

    .img--solved {
      position: absolute;
      top: 0;
      left: 0;
      cursor: help;
      visibility: hidden;
    }
  }

  .l-puzzle__control {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: calc(100% - 868px);

    button {
      display: block;
    }

    .c-btn--pause {
      margin-top: 4em;
    }

    .c-btn--hint {
      margin-top: 2em;
    }
  }
}


// countdown timer
.l-timer {
  color: $color-white;
  p {
    text-align: center;
    margin-top: 2.5em;
  }

  .c-countdown {
    font-size: 1.5em;
  }
}





// puzzle pieces section
.l-pieces-storage {
  margin-top: 2em;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: flex-start;
  padding: 1em;

  img {
    margin: 0.2em;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}