.c-pieces--drop-zone {
  //border: 1px dashed lightblue;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  .c-pieces__col {
    perspective: 1000px;
    position: relative;

    width: 110px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: -6px;

    .c-pieces__piece {
      transform-style: preserve-3d;
      position: relative;

      //border: 1px solid yellow;
      display: block;
      width: 100%;
      height: 95px;
      margin: 1px;
      padding: 0;
      text-align: center;
    }

    .c-pieces__piece-img {
      width: 100%;
      height: auto;
    }

    // Add winning animation
    .c-pieces__piece-img.congrats-flip {
      //transform-origin: center;
      animation: flip 1s 0.5s 2 forwards;
    }

    &--odd {
      //border: 1px solid yellow;
      //height: 485px; // 95px * 5 + 10px
      margin-left: -26px;
    }
    &--odd:first-of-type {
      margin-left: -2px;
    }

    &--even {
      //border: 1px solid greenyellow;
      //margin-top: 92px;
      //height: 390px; // 95px * 4 + 10px
      margin-left: -26px;
    }
  }
}

//.congrats-flip {
//  animation: flip 1s forwards;
//}
