@keyframes splashHide {
  0% {
    transform: scale(1);
  }
  50% {
    background-color: transparent;
  }
  100% {
    transform: scale(0);
    background-color: transparent;
  }
}


@keyframes flip {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(-360deg);
  }
}