$color-bg: #212121;
$color-white: white;
$color-black: black;
$color-primary: #E97588;
$color-primary-lite: lighten($color-primary, 8%);
$color-primary-dark: darken($color-primary, 8%);
$color-secondary: #8E5D56;
$color-secondary-lite: lighten($color-secondary, 8%);
$color-secondary-dark: darken($color-secondary, 8%);